<section class="section">
  <app-back-button url="/home/people"></app-back-button>

  <ul class="container">
    <h1 class="title">{{ personDetails.name }}</h1>

    <li class="item">
      Birth Year: <span>{{ personDetails.birthYear }}</span>
    </li>
    <li class="item">
      Gender: <span>{{ personDetails.gender }}</span>
    </li>
    <li class="item">
      Height: <span>{{ personDetails.height }}</span>
    </li>
    <li class="item">
      Skin Color: <span>{{ personDetails.skinColor }}</span>
    </li>
    <li class="item">
      Hair Color: <span>{{ personDetails.hairColor }}</span>
    </li>
    <li class="item">
      Eye Color: <span>{{ personDetails.eyeColor }}</span>
    </li>
  </ul>
</section>
