<section class="section">
  <app-back-button url="/home/planets"></app-back-button>

  <ul class="container">
    <h1 class="title">{{ planetDetails.name }}</h1>

    <li class="item">
      Poplulation: <span>{{ planetDetails.population }}</span>
    </li>
    <li class="item">
      Diameter: <span>{{ planetDetails.diameter }}</span>
    </li>
    <li class="item">
      Climate: <span>{{ planetDetails.climate }}</span>
    </li>
    <li class="item">
      Terrian: <span>{{ planetDetails.terrain }}</span>
    </li>
    <li class="item">
      Gravity: <span>{{ planetDetails.gravity }}</span>
    </li>
    <li class="item">
      Surface Water: <span>{{ planetDetails.surface_water }}</span>
    </li>
  </ul>
</section>
