@import "../styles/variables";

@mixin typography($txt-color, $is-large, $is-bold) {
  font-family: $font-family;
  color: $txt-color;
  // font size
  @if ($is-large) {
    font-size: $base-font-size * 1.5;
  } @else {
    font-size: $base-font-size;
  }
  // font weight
  @if ($is-bold) {
    font-weight: bold;
  }
}
