<section class="section">
  <app-back-button url="/home/species"></app-back-button>

  <ul class="container">
    <h1 class="title">{{ speciesDetails.name }}</h1>

    <li class="item">
      Classification: <span>{{ speciesDetails.classification }}</span>
    </li>
    <li class="item">
      Designation: <span>{{ speciesDetails.designation }}</span>
    </li>
    <li class="item">
      Language: <span>{{ speciesDetails.language }}</span>
    </li>
    <li class="item">
      Avrage Lifespan: <span>{{ speciesDetails.average_lifespan }}</span>
    </li>
    <li class="item">
      Skin color: <span>{{ speciesDetails.skin_colors }}</span>
    </li>
    <li class="item">
      Hair Color: <span>{{ speciesDetails.hair_colors }}</span>
    </li>
    <li class="item">
      Eye Color: <span>{{ speciesDetails.eye_colors }}</span>
    </li>
  </ul>
</section>
