@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/typography";

.character__btn {
  border: $base-border-thickness solid map-get($colors, "light-dark");
  background-color: map-get($colors, "light");
  width: 100%;
  padding: $base-padding;
  text-align: left;
  cursor: pointer;
  @include typography(map-get($colors, "dark"), false, true);
}
